body {
  display: block;
  margin: 8px;
  background-color: #FBFBFB;
  text-align: center;
  align-items: center;
}

ul{
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: #9B7EBD;
  padding: 14px 28px;
}

a:hover{
  color: #D4BEE4;
}

img {
  weight: 300px;
  height: 300px;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  .products {
    align-items: center;
  }
  